<template>
  <div class="serieses">
    <h5 class="header">#{{order}} {{serieses.name}} Serieses</h5>
    <div>current: {{ serieses.current }}</div>
    <div>type: {{ serieses.type }}</div>
    <div>id: {{ serieses.id }}</div>
    <div>slug: {{ serieses.slug }}</div>
    <div>name: {{ serieses.name }}</div>
    <div>count: {{ serieses.series.length }}</div>
    <div class="serieses__wrapp">
      <div class="serieses__block" v-for="series in serieses.series" :key="series.id">
        <div>Id: <b>{{series.id}}</b></div>
        <div>Name: <b>{{series.name}}</b></div>
        <div>Lowest price: <b>{{series.lowest_price}}</b></div>
        <div>Albums count: <b>{{series.albums_count}}</b></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Serieses',
  props: {
    serieses: {
      type: Object,
      default: ()=> {}
    },
    order: {
      type: Number
    }
  },
}
</script>

<style lang="scss" scoped>
.serieses {
  border: 1px solid;
  padding: 15px;
  margin: 10px;
  &__wrapp {
    display: flex;
  }
  &__block {
    width: 130px;
    height: 180px;
    border: 1px solid gray;
    margin: 5px;
    & > div {
      padding: 3px;
    }
  }
}
.header {
  text-align: left;
  margin-bottom: 15px;
}
</style>
