<template>
  <div class="teasers">
    <h5 class="header">#{{order}} Teasers</h5>
    <div class="teasers__wrapp">
      <div class="teasers__block" v-for="teaser in teasers" :key="teaser.id">
        <div>{{teaser.id}}</div>
        <div>{{teaser.title_bold}}</div>
        <div>{{teaser.url}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Teasers',
  props: {
    teasers: {
      type: Array,
      default: ()=> []
    },
    order: {
      type: Number
    }
  }
}
</script>

<style scoped lang="scss">
.teasers {
  border: 1px solid;
  padding: 15px;
  &__block {
    width: 180px;
    height: 100px;
    border: 1px solid gray;
    margin: 5px;
    & > div {
      padding: 3px;
    }
  }
}
.header {
  text-align: left;
  margin-bottom: 15px;
}
</style>