<template>
  <div class="top-album">
    <h5 class="header">#{{order}} Top Album - {{topAlbum.name}}</h5>
    <div>{{album.title}}</div>
    <div class="top-album-authors">
      <div>Authors:</div>
      <div class="top-album-authors-item">
        <div v-for="author in album.authors" :key="author.nickname">
          <div>{{ author.nickname }}</div>
        </div>
      </div>
    </div>
    <div v-html="`Price: ${album.priceHTML}`"></div>
  </div>
</template>

<script>
export default {
  name: 'TopAlbum',
  data() {
    return {
      album: {}
    }
  },
  props: {
    topAlbum: {
      type: Object,
      default: ()=> {}
    },
    order: {
      type: Number
    }
  },
  mounted() {
    this.album = this.topAlbum?.album
  }
}
</script>

<style scoped lang="scss">
.top-album {
  border: 1px solid;
  padding: 15px;

  &-authors {
    display: flex;
    margin: 5px;
  }
}
.header {
  text-align: left;
  margin-bottom: 15px;
}
</style>