<template>
  <section class="container">
    <div v-for="(data, idx) in $store.getters.getAllData" :key="idx++">
      <top-album v-if="data.topAlbum" :topAlbum="data.topAlbum" :order="idx" />
      <serieses v-if="data.serieses" :serieses="data.serieses" :order="idx" />
      <teasers v-if="data.teasers" :teasers="data.teasers" :order="idx"/>
    </div>
  </section>
</template>

<script>
import TopAlbum from '~/components/TopAlbum'
import Serieses from '~/components/Serieses'
import Teasers from '~/components/Teasers'

export default {
  components: {
    TopAlbum,
    Serieses,
    Teasers
  },
  async asyncData({ $axios, store }) {
    // Block #1
    const topAlbum = await $axios.get("/api/catalog/new/bd");
    store.commit('addAllData', {topAlbum: topAlbum.data?.topAlbum})

    // Block #2
    const serieses = await $axios.get("/api/catalog/next/bd/0");
    store.commit('addAllData', {serieses: serieses.data})
  },
  async mounted() {
    // Block #3
    await this.$store.dispatch('getTeasers')

    // Block #4
    await this.$axios.get("/api/catalog/next/bd/2")
      .then(({data})=> {
        this.$store.commit('addAllData', {serieses: data})
      })

    // Block #5
    await this.$store.commit('addAllData', {teasers: [this.$store.getters.getTeasers[2]]})

    // Block #6
    await this.$axios.get("/api/catalog/next/bd/1")
      .then(({data})=> {
        this.$store.commit('addAllData', {serieses: data})
      })

    // Block #7
    // I don't find gender, this genre
    await this.$axios.get("/api/catalog/next/bd/5")
      .then(({data})=> {
        this.$store.commit('addAllData', {serieses: data})
      })
  },
}
</script>

<style>
.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

